html {
    background: url(./menu-trone.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

body {
    background: none;
}

ol {
    list-style-type: none;
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    bottom: 5%;

    text-align: right;
}

#menu li {
    -webkit-transform:scale(1,1.25);
    -moz-transform:scale(1,1.25);

    padding-bottom: 5%;
}

#menu button {
    background: none;
    border: none;
}

#menu button > div {
    z-index: 1;

    position: absolute;
    right: 10%;
    margin-top: 4%;

    font-weight: 1000;
    font-size: 2rem;
    font-family: "Lucida Console", Courier, monospace;
    text-rendering: linear-gradient();
    background-image: linear-gradient( white, white 60%, purple);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

#menu button > img {
    z-index: 0;

    opacity: 0;
    transition: 0.5s;
}

#menu button:hover > img {
    opacity: 1;
}

html:not(#menu-database) #categories-menu {
    display: none;
}

html:not(#menu-personnages) #personnages {
    display: none;
}

#database-menu {
    display: block;
    padding: 0 0 0 5%;
}

#database-menu li {
    display: inline;
}

#database-menu ol {
    display: inline;
}

#database-menu ol li p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 7rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    color: blanchedalmond;

    font-size: 3rem;
}

#database-menu ol li {
    z-index: 2;
    display: block;
    margin-right: 45rem;
    background: url(menu-database.png);
    margin-bottom: 1rem;
    position: relative;
}

#database-menu ol li img:not(#border) {
    background-color:blanchedalmond;
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid #000000;
    margin: 0.5rem;
}

html:not(#menu-calculator) #calculator-menu {
    display: none;
}

#personnages #retour img {
    border-radius: 45%;
    border-color: black;
}

li > #border {
    z-index: 0;

    border: none;

    opacity: 0;
    transition: 0.5s;

    position: absolute;

    width: 383%;
    top: -6%;
    left: -17%;
}

li:hover > #border {
    opacity: 1;
}